@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: none;
    border: none;
    font-family: 'Pixelify Sans', 'Courier New', Courier, monospace;
}